/*.admin-bdadmin.css */
body {
  background: #eee;
}

.container {
  max-width: 1440px;
}

.page-header {
  margin-bottom: 1em;
}

.action-bar {
  padding-bottom: 1em;
}

.navbar-brand img {
  max-height: 1.5em;
}

.navbar-nav > li > a:active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li:hover > a,
.navbar-nav > .open > a,
.dash-bd .dash-lnk,
.user-bd .user-lnk,
.tools-bd .tools-lnk {
  background: #555 !important;
  color: #fff !important;
}

/* Stats */

.stat-row {
  margin-bottom: 2em;
}
.stat-box > div,
.stat-box > a {
  background: var(--white);
  border-radius: 3px;
  color: #222;
  margin-bottom: 1em;
  padding: 1em 1em 0.34em;
  text-align: center;
}
.stat-box > div:hover {
  outline: var(--color-accent);
}
.stat-box a {
  display: block;
  text-decoration: none;
}
.stat-box h3 {
  margin-bottom: 2px;
  margin-top: 0;
}
