*{
	border-radius:0;
	box-sizing:border-box!important;
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	background:#fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:1.6em;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
	color:#333;
}

ul, ol {
    margin-top: 1em;
    padding-left: 2em;
}

ul.infolist, ol.infolist{
	list-style:none;
	margin-bottom:2em;
	margin-top:2em;
}
ul.infolist li, ol.infolist li{
	margin-bottom:0.3em;
}

table tr th, table tr td{
    font-size:11px;
}
table tr th{
    background:#ddd;
    border-bottom:0!important;
    border-color:#ccc!important;
    padding:4px 6px 6px!important;
}
table tr td{
    padding:8px 8px 4px!important;
}
table tr td .btn{
    font-size:0.85em;
    position:relative;
    top:-2px;
}

/* Datatables */
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: right;
}

div.dataTables_wrapper table.datatable {
    margin-top: 2em !important;
}

.dataTables_paginate,
.dataTables_info {
    display: inline-block;
}

.dataTables_paginate {
    float: right;
}

.form-control{
	border-radius:0;
    border:1px solid #ddd;
    box-shadow:none;
	color:#333;
    cursor: pointer;
}
.form-control:hover{
    border-color:#aaa;
}

.modal-open .modal{
	z-index:10000;
}

.control-label{
    font-weight: 500;
}

.btn{
    border-radius: 2px !important;
    font-size: 11px;
    font-weight:bold;
    text-transform:uppercase;
}
.btn + .btn{
    margin-left:3px!important;
}

.btn-warning{
    background:#FBAC2B;
}

.btn-social{
    display:block;
    margin:0 auto;
    max-width:240px;
}

.btn-group .btn + .btn{
    margin-left:0!important;
}

.dt-buttons .btn{
    margin-right:5px;
}

.modal-backdrop{
    z-index: 1000;
}
.page-header{
	border-bottom:0;
	margin:0 0 1em;
	padding:1em 0 0;
}
.page-header h1{
	font-size:1.6em;
	margin:0;
}

.tab-pane {
    background: #fff;
    border:1px solid #ddd;
    border-top:0;
    padding: 1em;
}

.panel, .input-group-addon{
    border-radius:2px;
}
.panel h3{
    font-size:1.1em;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    display: inline-block;
    float: right;
}

input.datepicker{
    background:url(../img/calendar.png) no-repeat 5% center / 20px;
    padding-left:3em;
}

.alert{
    border-radius:0;
    margin-bottom: 10px;
    padding: 4px 15px;
}

p.error {
    color: red;
    font-style: italic;
    padding: 0.6em 0;
}

.breadcrumb{
    border-radius:0;
    font-size:11px;
    margin-top:10px;
    padding:3px 1em;
}

.slick-slider{
    max-height:95vh;
    overflow:hidden;
}
.slick-slide img{
    width:100%;
}

.container{
	max-width:960px;
}

.page-wrapper{
	padding-bottom:5em;
}

.accordion .panel-title, .accordion .panel-title a{
	text-decoration:none;
}

.wrapper{
	padding:0;
	min-height:100%;
}

.navbar{
    border:0;
	border-radius:0;
    box-shadow:none;
    height:auto;
    margin-bottom:0;
    min-height:auto;
}
.navbar-default{
    background:transparent;
}
.navbar-brand{
    height:auto;
    margin-right:20px;
	padding:6px 15px;
}
.navbar-brand img{
	height:1.8em;
}
.navbar-custom{
	z-index:999;
}
.bx-wrapper .bx-controls-direction a{
	z-index:998;
}

.navbar-custom .navbar-brand{
	opacity:1.0;
	padding-left:0;
}
.navbar-nav > li > a{
	background:transparent;
}
.navbar-nav > li > a:hover,
.about-bd .about-lnk,
.contact-bd .contact-lnk{
	color:#555!important;
}

.nav > li > a.btn-nav{
	background:#000;
	color:#fff!important;
	border-radius:2px;
	font-size:0.9em;
	letter-spacing:1px;
	margin-left:1em;
	margin-top:0.4em;
	padding:0.3em 1.5em;
}
.nav > li > a.btn-nav.btn-nav-active{
    background:transparent;
    border:1px solid #000;
	color:#000!important;
}
.navbar-toggle{
	background:#fff!important;
	border:0;
	margin-top:0;
}
.navbar-toggle .icon-bar{
	background:#aaa;
	height:3px;
	width:35px;
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 6px;
}
.docs-header{
	padding-top:0;
}
.no-data{
	background:#eee;
	color:#888;
	font-size:1.3em;
	margin-top:2em;
	padding:1em;
}

/* Login */
.login-box{
	box-shadow:0 2px 5px rgba(0,0,0,0.3);
	margin-top:5%;
}
.login-box > div{
    min-height:30em;
	padding:2em;
}
.login-banner{
    background:url(../img/login-banner.jpg) no-repeat;
    background-size:cover;
    padding:0;
}

footer{
    color:#aaa;
    font-size:11px;
    padding: 8px 0;
	position:relative;
    top:-3em;
}

@media (max-width: 992px){
	body{
		padding-top:0;
	}
	.navbar-custom .navbar-brand {
        width:auto!important;
        overflow: hidden;
	}
}
